/* Global */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: SpaceMono-Regular;
    src: url('fonts/SpaceMono-Regular.ttf');
}


body {
  margin: 0;
  height: 100vh;
  background: black;
  color: #39ff14;
  font-family: 'Share Tech Mono', monospace;

}

.container {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
  text-shadow: 0 0 5px #39ff14;
  white-space: nowrap;
}

.blinking-underscore {
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}


@media screen and (max-width: 768px) {
    .main-container {
        padding: 100px 25px 0 25px;
    }
}


/* Projects */
.card-border {
    border: 3px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.card img{
    object-fit: cover;
    aspect-ratio: 1/1;
    max-height: 200px;
}

.card {
    transform: scale(1.0);
    transition: transform 0.5s ease;
}

.card-container:hover .card {
    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.card-container:hover .card:hover {
    transform: scale(1.05);
}


.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-container{
    min-height: 100vh;
    height: auto;
}


.bg-custom-dark {
  background-color: black;
  color: white;
}

.neonize:hover {
    color: #39ff14;
}

.border-neonize:hover {
    border-color: #39ff14;
}

.border-light-bottom {
    border-bottom: 1px solid #c800ff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
}

.border-light-top {
    border-top: 1px solid #c800ff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
}

.custom-text-light {
    color: white;
}

.card {
    background: linear-gradient(145deg, #0a0a0a, #1a1a1a);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
}

.carousel-inner {
    min-height: 600px;
    display: flex;
}

.carousel-slide-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-card {
    height: 100%;
    width: 100%;
    max-width: 700px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    overflow: auto;
}

.carousel-card img {
    max-height: 250px;
    object-fit: cover;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

.carousel-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media (max-width: 767.98px) {
    .carousel-inner {
        height: 750px;
    }

}




