/* Global */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: SpaceMono-Regular;
    src: url('fonts/SpaceMono-Regular.ttf');
}

body {
    height: 100vh;
    width: 100vw;
    font-family: SpaceMono-Regular, sans-serif;
    background: linear-gradient(-45deg, #0f0c29, #00ff9f, #0f0c29);
    background-size: 800% 800%;
	animation: gradient 60s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media screen and (max-width: 768px) {
    .main-container {
        padding: 100px 25px 0 25px;
    }
}


/* Projects */
.card-border {
    border: 3px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.card img{
    object-fit: cover;
    aspect-ratio: 1/1;
    max-height: 200px;
}

.card {
    transform: scale(1.0);
    transition: transform 0.5s ease;
}

.card-container:hover .card {
    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.card-container:hover .card:hover {
    transform: scale(1.05);
}


.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-container{
    min-height: 100vh;
    height: auto;
}


.bg-custom-dark {
  background-color: black;
  color: white;
}

.neonize:hover {
    color: #39ff14;
}

.border-neonize:hover {
    border-color: #39ff14;
}